@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", arial;
  background-color: #F5F8FA;
  font-size: 16px;
}

@media (max-width: 1439px) {
  body {
    font-size: 14px;
  }
}
.custom-sidebar {
  position: fixed;
  background-color: #243666;
  height: 100%;
  left: 0;
  width: 70px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
  z-index: 9999;
}
.custom-sidebar:hover {
  width: 250px;
  overflow: hidden;
  opacity: 1;
}
.custom-sidebar .darkerli {
  text-transform: capitalize;
  padding: 15px 0;
}
.custom-sidebar > ul {
  margin: 7px 0;
}
.custom-sidebar li {
  position: relative;
  display: block;
  width: 250px;
}
.custom-sidebar li > a {
  position: relative;
  width: 255px;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  transition: all 0.14s linear;
  font-family: "Open Sans", arial;
}
.custom-sidebar li:hover {
  background-color: #ffffff;
}
.custom-sidebar li:hover > a {
  text-shadow: 0px 0px 0px;
  color: #000000;
}
.custom-sidebar .nav-icon {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
.custom-sidebar .nav-text {
  position: relative;
  vertical-align: middle;
  width: 190px;
  font-family: "Open Sans", arial;
  font-size: 1rem;
  font-weight: 500;
}
.custom-sidebar .scrollbar {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.custom-sidebar .scrollbar:hover {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.custom-sidebar #custom-sidebar__menus-listing::-webkit-scrollbar-track {
  border-radius: 2px;
}
.custom-sidebar #custom-sidebar__menus-listing::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}
.custom-sidebar #custom-sidebar__menus-listing::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
}
.custom-sidebar .fa-lg {
  font-size: 1em;
}
.custom-sidebar .fa {
  position: relative;
  display: table-cell;
  width: 75px;
  text-align: center;
  top: 5px;
  font-size: 20px;
}
.custom-sidebar__logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.custom-sidebar__logo img {
  width: 50px;
  height: auto;
}

nav.custom-sidebar.expanded {
  width: 250px;
  overflow: hidden;
  opacity: 1;
}

.custom-sidebar a:hover {
  text-decoration: none;
  border-left: 0px solid #F7F7F7;
}
.custom-sidebar a:focus {
  text-decoration: none;
  border-left: 0px solid #F7F7F7;
}

nav.custom-sidebar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
nav.custom-sidebar ul {
  outline: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
nav.custom-sidebar li {
  outline: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

nav.custom-sidebar li.active > a {
  color: #ffffff;
  background-color: #000000;
  text-shadow: 0px 0px 0px;
}

.dropdown-menu > li > a:hover {
  color: #ffffff;
  background-color: #000000;
  text-shadow: 0px 0px 0px;
}
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #000000;
  text-shadow: 0px 0px 0px;
}
.dropdown-menu > .active > a {
  color: #ffffff;
  background-color: #000000;
  text-shadow: 0px 0px 0px;
}
.dropdown-menu > .active > a:hover {
  color: #ffffff;
  background-color: #000000;
  text-shadow: 0px 0px 0px;
}
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #000000;
  text-shadow: 0px 0px 0px;
}

.main-header {
  background-color: #ffffff;
}
.main-header__profile-icon {
  width: 35px;
  height: auto;
  border-radius: 15%;
}
.main-header .navbar-brand {
  font-family: "Open Sans", arial;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.4;
  padding: 6px 0 6px;
  margin: 0;
}
.main-header .search-box {
  position: relative;
  width: 100%;
  max-width: 20px;
  margin: 0 5px 0 20px;
  background-color: transparent;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}
.main-header .search-box__input {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", arial;
  font-size: 1em;
  font-weight: 400;
  color: #000000;
  padding: 0 18px 0 0;
  border: none;
  border-radius: 6px;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.main-header .search-box .search-box__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}
.main-header .search-box .search-box__icon .search-icon {
  font-size: 20px;
  color: #8a8a8a;
}
.main-header .search-box .close-icon {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 17px;
  color: #8a8a8a;
  padding: 5px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
}
.main-header .search-box.open {
  max-width: 160px;
  border: 1px solid black;
  padding: 5px;
}
.main-header .search-box.open input {
  padding: 0 15px 0 26px;
}
.main-header .search-box.open .search-box__icon {
  border-radius: 6px 0 0 6px;
}
.main-header .search-box.open .close-icon {
  transform: translateY(-50%) rotate(180deg);
  pointer-events: auto;
  opacity: 1;
}
@media (max-width: 991px) {
  .main-header__navbar-nav {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .main-header__navbar-nav > li {
    margin: 0 15px;
  }
}

.btn__white, .btn__blue {
  border-radius: 4px;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 1.375rem;
}
.btn__white {
  border: 1px solid #8a8a8a;
}
.btn__white:hover {
  background-color: #243563;
  color: #ffffff;
  box-shadow: 0 0 10px #ccc;
}
.btn__blue {
  background-color: #243563;
  border: 1px solid #8a8a8a;
  color: #ffffff;
}
.btn__blue:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #8a8a8a;
  box-shadow: 0 0 10px #ccc;
}
.btn__light-blue {
  background-color: #009EF7;
  color: #ffffff;
}
.btn__light-blue:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #8a8a8a;
  box-shadow: 0 0 10px #ccc;
}
.btn__gray {
  background-color: #F9F9F9;
  color: #8a8a8a;
}
.btn__gray:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #8a8a8a;
  box-shadow: 0 0 10px #ccc;
}

.dashboard {
  padding-bottom: 2rem;
}
.dashboard__card-wrapper {
  background-color: #ffffff;
  padding: 2.8125em 1.25em;
  text-align: center;
  width: 100%;
  margin-top: 2.1875em;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #ccc;
}
@media (max-width: 1024px) {
  .dashboard__card-wrapper {
    padding: 30px 15px;
  }
}
.dashboard__getting-started-title, .dashboard__map-view-title, .dashboard__my-project-title, .dashboard__SRA-title {
  font-size: 1.375em;
  font-weight: 600;
  color: #000000;
  margin-bottom: 5px !important;
}
.dashboard__getting-started-img, .dashboard__map-view-img, .dashboard__my-project-img {
  width: 100%;
  max-width: 200px;
  margin: auto;
}
.dashboard__map-view-img {
  width: 50px;
  border-radius: 18px;
}
.dashboard__map-view-label {
  font-size: 15px;
  color: gray;
  font-weight: 500;
}
.dashboard__my-project-img {
  width: 50px;
  border-radius: 18px;
}
.dashboard__my-project-viewed-label {
  font-size: 0.9375em;
  color: gray;
  font-weight: 500;
}
.dashboard__my-project-list-title {
  font-size: 1.125em;
  font-weight: 600;
  color: #000000;
}
.dashboard__my-project-list-viewed-label {
  font-size: 0.875em;
  color: gray;
}
.dashboard__my-project-listings {
  margin-top: 15px;
}
.dashboard__my-project-listings a {
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
  text-decoration: none;
  color: #000000;
}
.dashboard__my-project-listings a:last-child {
  border: none;
  padding-bottom: 0;
}
.dashboard__task-manager-wrap {
  background-color: #243563;
  min-height: 55%;
  padding: 2.8125em 1.25em;
  border-radius: 8px;
}
.dashboard__task-manager-title {
  font-size: 1.375em;
  color: #ffffff;
  font-weight: 600;
  text-align: start;
}
.dashboard__task-manager-contents-wrap {
  margin-top: -13%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .dashboard__task-manager-contents-wrap {
    display: block;
    padding: 0 15px;
  }
}
.dashboard__task-manager-details {
  text-align: start;
  padding: 15px 20px;
  background-color: #F9F9F9;
  min-width: 45%;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .dashboard__task-manager-details {
    margin-top: 10px;
  }
}
.dashboard__task-manager-details p {
  font-size: 20px;
  font-weight: 600;
  color: #636C86;
  margin-bottom: 0.5rem;
}
.dashboard__task-manager-details p:last-child {
  margin-bottom: 0;
}
.dashboard__map-img {
  margin-top: 15px;
}
.dashboard__map-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  min-width: 100%;
}/*# sourceMappingURL=main.css.map */