$color_1: #fff;
$color_2: #8a8a8a;
$font-family_1: "Open Sans", arial;
$font-family_2: 'Strait', sans-serif;
$font-family_3: 'Titillium Web', sans-serif;
$background-color_1: #F7F7F7;
$background-color_2: #BFBFBF;
$background-color_3: #ededed;
$background-color_4: #00bbbb;

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
@import "https://fonts.googleapis.com/css?family=Titillium+Web:300";
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 300;
	src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
body {
	margin: 0px;
	padding: 0px;
	font-family: $font-family_1;
	background-color: #F5F8FA;
}
.custom-sidebar {
	position: fixed;
    background-color: #243666;
	height: 100%;
	left: 0;
	width: 70px;
	overflow: hidden;
	-webkit-transition: width .2s linear;
	transition: width .2s linear;
	box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
	opacity: 1;
	z-index: 9999;
    &:hover {
		width: 250px;
		overflow: hidden;
		opacity: 1;
	}
    .darkerli {
        text-transform: capitalize;
		padding: 15px 0;
		// border: 1px solid #f2f2f2;
    }
	>ul {
		margin: 7px 0;
	}
	li {
		position: relative;
		display: block;
		width: 250px;
		>a {
			position: relative;
			width: 255px;
			display: table;
			border-collapse: collapse;
			border-spacing: 0;
			color: $color_1;
			font-size: 13px;
			text-decoration: none;
			-webkit-transition: all .14s linear;
			transition: all .14s linear;
			font-family: $font-family_2;
			// border-top: 1px solid #f2f2f2;
			// text-shadow: 1px 1px 1px #fff;

		}
		&:hover {
				background-color: $color_1;
				>a{
				text-shadow: 0px 0px 0px;
				color: #000;
			}
		}
	}
	.nav-icon {
		position: relative;
		display: table-cell;
		width: 55px;
		height: 36px;
		text-align: center;
		vertical-align: middle;
		font-size: 18px;
	}
	.nav-text {
		position: relative;
		// display: table-cell;
		vertical-align: middle;
		width: 190px;
		font-family: $font-family_3;
		font-size: 16px;
		font-weight: 500;
	}
    .scrollbar {
        height: 90%;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        &:hover {
            height: 90%;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
    #custom-sidebar__menus-listing {
        &::-webkit-scrollbar-track {
            border-radius: 2px;
        }
        &::-webkit-scrollbar {
            width: 5px;
            background-color: $background-color_1;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: $background-color_2;
        }
    }
    .fa-lg {
        font-size: 1em;
    }
    .fa {
        position: relative;
        display: table-cell;
        width: 75px;
        // height: 55px;
        text-align: center;
        top: 5px;
        font-size: 20px;
    }
	&__logo{
		display: flex;
		justify-content: center;
		padding: 20px 0;
		img{
			width: 50px;
			height: auto;
		}
	}
}
nav.custom-sidebar.expanded {
	width: 250px;
	overflow: hidden;
	opacity: 1;
}
.custom-sidebar a {
	&:hover {
		text-decoration: none;
		border-left: 0px solid #F7F7F7;
	}
	&:focus {
		text-decoration: none;
		border-left: 0px solid #F7F7F7;
	}
}
nav.custom-sidebar {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	ul {
		outline: 0;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}
	li {
		outline: 0;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}
}

nav.custom-sidebar {
	li.active {
		>a {
			color: $color_1;
			background-color: $background-color_4;
			text-shadow: 0px 0px 0px;
		}
	}
}

.dropdown-menu {
	>li {
		>a {
			&:hover {
				color: $color_1;
				background-color: $background-color_4;
				text-shadow: 0px 0px 0px;
			}
			&:focus {
				color: $color_1;
				background-color: $background-color_4;
				text-shadow: 0px 0px 0px;
			}
		}
	}
	>.active {
		>a {
			color: $color_1;
			background-color: $background-color_4;
			text-shadow: 0px 0px 0px;
			&:hover {
				color: $color_1;
				background-color: $background-color_4;
				text-shadow: 0px 0px 0px;
			}
			&:focus {
				color: $color_1;
				background-color: $background-color_4;
				text-shadow: 0px 0px 0px;
			}
		}
	}
}



.main-header{
	background-color: #ffffff;
	&__profile-icon{
		width: 35px;
		height: auto;
		border-radius: 15%;
	}
	.navbar-brand {
		font-size: 16px;
		font-weight: 600;
		line-height: 21px;
		padding: 6px 0 6px;
		margin: 0;
		// border: 1px solid;
	}
	.search-box {
		position: relative;
		width: 100%;
		max-width: 20px;
		// height: 45px;
		margin: 0 5px 0 20px;
		background-color: transparent;
		border-radius: 6px;
		transition: all 0.5s ease-in-out;
		&__input {
			position: relative;
			width: 100%;
			height: 100%;
			font-size: 15px;
			font-weight: 400;
			color: $color_2;
			padding: 0 18px 0 0;
			border: none;
			border-radius: 6px;
			outline: none;
			transition: all 0.5s ease-in-out;
		}
		.search-box__icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 20%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #ffffff;
			border-radius: 6px;
			cursor: pointer;
			.search-icon {
				font-size: 20px;
				color: $color_2;
			}
		}
		.close-icon {
			position: absolute;
			top: 50%;
			right: 0;
			font-size: 17px;
			color: $color_2;
			padding: 5px;
			transform: translateY(-50%);
			transition: all 0.5s ease-in-out;
			cursor: pointer;
			pointer-events: none;
			opacity: 0;
		}
	}
	.search-box.open {
		max-width: 160px;
		border: 1px solid black;
    	padding: 5px;
		input {
			padding: 0 15px 0 26px;
		}
		.search-box__icon {
			border-radius: 6px 0 0 6px;
		}
		.close-icon {
			transform: translateY(-50%) rotate(180deg);
			pointer-events: auto;
			opacity: 1;
		}
	}
	&__navbar-nav{
		@media (max-width:991px) {
			display: flex;
			flex-direction: inherit;
			justify-content: center;
		}
		& > li{
			@media (max-width:991px) {
				margin: 0 15px;
			}
		}
	}
}


// Custom Buttons Start 
.btn{
	&__white, &__blue{
		border-radius: 4px;
		font-size: 14px;
		font-weight: 600;
		line-height: 22px;
	}
	&__white{
		border: 1px solid $color_2;
		&:hover{
			background-color: #243563;
			color: $color_1;
			box-shadow: 0 0 10px #ccc;
		}
	}
	&__blue{
		background-color: #243563;
		border: 1px solid $color_2;
		color: $color_1;
		&:hover{
			background-color: $color_1;
			color: #000;
			border: 1px solid $color_2;
			box-shadow: 0 0 10px #ccc;
		}
	}
	&__light-blue{
		background-color: #009EF7;
		color: $color_1;
		&:hover{
			background-color: $color_1;
			color: #000;
			border: 1px solid $color_2;
			box-shadow: 0 0 10px #ccc;
		}
	}
	&__gray{
		background-color: #F9F9F9;
		color: $color_2;
		&:hover{
			background-color: $color_1;
			color: #000;
			border: 1px solid $color_2;
			box-shadow: 0 0 10px #ccc;
		}
	}	
}
// Custom Buttons END

// .bg-blue{
// 	background-color: #243563;
// 	min-height: 50%;
// }
.dashboard{
	&__card-wrapper{
		background-color: $color_1;
		padding: 45px 20px;
		text-align: center;
		width: 100%;
		margin-top: 30px;
		border-radius: 8px;
		box-shadow: 0px 0px 10px #ccc;
		@media (max-width:1024px) {
			padding: 30px 15px;
		}
	}
	&__getting-started{	
		&-title{
			font-size: 22px;
			font-weight: 600;
			color: #000000;
		}
		&-img{
			width: 100%;
			max-width: 200px;
			margin: auto;
		}
	}

	&__map-view{
		&-title{
			font-size: 22px;
			font-weight: 600;
			color: #000000;
		}
		&-img{
			width: 50px;
			border-radius: 18px;
		}
		&-label{
			font-size: 15px;
			color: gray;
			font-weight: 500;
		}
	}
	&__my-project{
		&-title{
			font-size: 22px;
			font-weight: 600;
			color: #000000;
		}
		&-img{
			width: 50px;
			border-radius: 18px;
		}
		&-viewed-label{
			font-size: 15px;
			color: gray;
			font-weight: 500;
		}
		&-list{
			&-title{
				font-size: 18px;
				font-weight: 600;
				color: #000000;
			}
			&-viewed-label{
				font-size: 14px;
				color: gray;
			}
		}
	}
	&__my-project-listings{
		margin-top: 15px;
		a{
			padding: 10px 0;
			border-bottom: 1px dashed #ccc;
			text-decoration: none;
			color: #000;
			&:last-child{
				border: none;
				padding-bottom: 0;
			}
		}
	}
	&__task-manager{
		&-wrap{
			background-color: #243563;
			min-height: 55%;
			padding: 45px 20px;
			border-radius: 8px;
		}
		&-title{
			font-size: 22px;
			color: $color_1;
			font-weight: 600;
			text-align: start;
		}
		&-contents-wrap{
			margin-top: -13%;
			display: flex;
			justify-content: space-between;
			padding: 0 20px;
			@media (max-width:1024px) {
				display: block;
				padding: 0 15px;
			}
		}
		&-details{
			text-align: start;
			padding: 15px 20px;
			background-color: #F9F9F9;
			min-width: 45%;
			border-radius: 8px;
			@media (max-width:1024px) {
				margin-top: 10px;
			}
			p{
				font-size: 20px;
				font-weight: 600;
				color: #636C86;
				
			}
		}
	}
	&__map-img{
		margin-top: 15px;
		img{
			width: 100%;
			object-fit: cover;
			height: 250px;
			min-width: 100%;
		}
	}
	&__SRA{
		&-title{
			font-size: 22px;
			font-weight: 600;
			color: #000000;	
		}
	}
}